<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Correctly populate with categories coming from the API -->
    <ion-select
      class="ion-padding"
      placeholder="Select category"
      interface="popover"
      [ngModel]="categorySelected$|async"
      (ngModelChange)="categorySelected$.next($event)"
    >
      <ion-select-option *ngFor="let categoryItem of categories$|async" [value]="categoryItem.id">{{categoryItem.name}}</ion-select-option>
    </ion-select>

    <!-- Filter products that have name or description matching the text -->
    <ion-searchbar [ngModel]="searchText$|async" (ngModelChange)="searchText$.next($event)"></ion-searchbar>

    <!-- Filter products by their availability (isAvailable property) -->
    <ion-checkbox class="ion-margin ion-padding" [ngModel]="avlProductFilter$|async" (ngModelChange)="avlProductFilter$.next($event)">
      Product is available
    </ion-checkbox>

    <!-- Display products using the product component and data from the API -->
    <ion-list class="ion-padding">
      <app-product *ngFor="let productItem of avlProducts$|async" [product]="productItem"></app-product>
    </ion-list>
  </div>
</ion-content>
